.product-list {
  flex: 1;
  padding: 20px 15px;
}

.product-list img {
  max-width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  /* gap: 20px; */
}

@media (max-width: 768px) {
  .product-list {
    width: 100%;
  }
}
