.cart-controller {
  margin-top: 100px;
}
.head {
  width: 90%;
  margin: 20px auto;
}

.head h3 {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.head > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.back {
  padding-left: 20px;
  font-size: 17px;
  cursor: pointer;
}
.back:hover {
  text-decoration: underline;
}
.back a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-length {
  margin-left: 40%;
}

.content {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.content > h3 {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: 600;
}
.content .cart-list {
  flex: 1;
  height: 90vh;
  overflow: auto;
  /* background-color: red; */
}

.content .cart-list::-webkit-scrollbar {
  width: 0.2em;
}

@media (max-width: 992px) {
  .content {
    /* flex-direction: column; */
    display: block;
  }
  .content .cart-list {
    height: 60vh !important;
    overflow: auto;
  }
}

@media (max-width: 500px) {
  .content .cart-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
}
