.payment-info {
  padding: 10px 30px;
  background-color: #263041;
  color: white;
  margin-left: 10px;
  border-radius: 15px;
  height: 50vh;
}
.content > h3 {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: emoji;
  padding-bottom: 5px;
  border-bottom: solid 1px #576174;
}
.method {
  padding: 15px 0;
  border-bottom: solid 1px #576174;
}
.method div {
  margin-top: 10px;
  display: flex;
}
.method div span {
  display: block;
  padding: 7px;
  border: 1px solid #576174;
  border-radius: 15px;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.method div span:first-child img {
  width: 80px;
}
.method div span:hover {
  border-color: white;
  cursor: pointer;
}
.method img {
  width: 90px;
}
.method h4 {
  font-size: 15px;
  font-weight: 500;
}
.total {
  padding: 15px 0 20px 0;
  border-bottom: solid 1px #576174;
}
.total h3 {
  font-weight: 500;
}
.total span {
  font-size: 17px;
}
.check-out {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.check-out button {
  background-color: #2c8dff;
  border: none;
  color: white;
  padding: 13px 20px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.check-out button:hover {
  background-color: #007aff;
}

@media (max-width: 992px) {
  .content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .payment-info {
    margin: 30px 0;
  }
  .check-out {
    position: relative;
    height: 100%;
  }
  .check-out button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
