.controller {
  margin-top: 100px;
}

.content {
  width: 90%;
  margin: 0 auto;
  min-height: 30vh;
  position: relative;
  max-height: 70vh !important;
  overflow: auto;
}
.content::-webkit-scrollbar {
  width: 0.2em;
}
.content > h3 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-weight: 600;
}
.head {
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap-reverse;
}

.head h3 {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.head > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}
.back {
  padding-left: 20px;
  font-size: 17px;
  cursor: pointer;
}
.back:hover {
  text-decoration: underline;
}
.back a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-length {
  margin-left: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.clear-wish-list-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 5px;
  margin-left: 10px;
  font-weight: 500;
  font-family: inherit;
  background: rgb(233, 69, 96);
  transition: all 150ms ease-in-out 0s;
  line-height: 1;
  border: none;
  color: rgb(255, 255, 255);
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
}
.clear-wish-list-btn.empty {
  background-color: rgb(203 133 145);
  cursor: no-drop;
}

@media (max-width: 580px) {
  .head > div {
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
  }
  .item-length {
    margin: 0 20px 0 0;
    justify-content: space-between;
    width: 90%;
    padding-left: 20px;
  }
}
