.controller {
  margin-top: 100px;
}

.content {
  width: 90%;
  margin: 0 auto;
  min-height: 30vh;
  position: relative;
  max-height: 70vh !important;
  overflow: auto;
}
.content::-webkit-scrollbar {
  width: 0.2em;
}
.content > h3 {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  font-weight: 600;
}
.head {
  width: 90%;
  margin: 20px auto;
  flex-wrap: wrap-reverse;
}

.head h3 {
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  text-align: center;
  padding-left: 20px;
}
.head > div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.back {
  padding-left: 20px;
  font-size: 17px;
  cursor: pointer;
}
.back:hover {
  text-decoration: underline;
}
.back a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-length {
  margin-left: 40%;
}

@media (max-width: 580px) {
  .head > div {
    justify-content: space-between;
  }
  .item-length {
    margin: 0 20px 0 0;
  }
}
