.product-details {
  margin-top: 120px;
}
.up {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.images {
  width: 50vw;
  width: 50%;
  height: 23vw;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.images .image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  padding: 10px;
}
/* Information  */
.info {
  flex: 1;
  display: block;
}

.title h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0px;
}
.brand {
  color: gray;
}
.brand span {
  color: black;
}
.rate {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rate span {
  margin-right: 10px;
}
.rate span:nth-of-type(2) {
  margin-left: 3px;
  color: #e94560;
}
.star {
  font-size: 20px;
  color: #ffcd4e;
  margin: 5px 0;
  cursor: default;
}
.blur {
  color: #747a879c;
}

.price h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 4px;
  margin-top: 0px;
  color: rgb(233, 69, 96);
}

.price span {
  font-size: 14px;
}
.cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer;
  padding: 11px 1.5rem;
  font-weight: 600;
  font-family: inherit;
  background: rgb(233, 69, 96);
  transition: all 150ms ease-in-out 0s;
  line-height: 1;
  border: none;
  color: rgb(255, 255, 255);
  height: 40px;
  font-size: 14px;
  margin: 30px 0;
  border-radius: 5px;
}

.cart span svg.active {
  fill: #e94560;
  color: #e94560;
}
.cart span svg {
  font-size: 30px;
  margin-left: 10px;
  color: rgb(233, 69, 96);
  cursor: pointer;
}

.cart span.in-cart-icon svg {
  font-size: 20px;
  color: #fff;
}
.down {
  margin-top: 100px;
  padding: 0 0 30px 30px;
}
.description {
  width: 60%;
}
.description h3 {
  margin: 10px 0;
}

@media (max-width: 768px) {
  .up {
    flex-direction: column;
  }
  .images {
    height: 380px;
    width: 95%;
    overflow: hidden;
  }
  .info {
    padding-left: 20px;
  }
  .title h1 {
    font-size: 1.4rem;
  }
  .price {
    font-size: 1.4rem;
  }
  .down {
    margin-top: 30px;
  }
  .description {
    width: 90%;
  }
}
