.quick-view {
  height: 90%;
  overflow: hidden;
  overflow-y: scroll;
}
/* width */
.quick-view::-webkit-scrollbar {
  width: 7px;
}
.close-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  top: 10px;
  background-color: rgb(15, 52, 96);
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
}
