:root {
  --arrow-vertical: 50%;
  --arrow-horizontal: 20px;
}
.slider {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 var(--main-padding);
  margin-top: 105px;
}

.slider img {
  width: 100%;
}
.banner {
  width: 70%;
  position: relative;
}

.right-side {
  padding-left: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right-side img {
  height: 100%;
}
.right-side img:first-child {
  margin-bottom: 30px;
}

.banner span {
  position: absolute;
  top: var(--arrow-vertical);
  transition: all 0.3s ease;
}
.banner span:hover svg {
  color: #eee;
  cursor: pointer;
}
.banner span svg {
  font-size: 30px;
}
.leftArrow {
  left: var(--arrow-horizontal);
}
.rightArrow {
  right: var(--arrow-horizontal);
}

/* Responsive Design */

@media (max-width: 768px) {
  .slider {
    flex-direction: column;
    margin-top: 10px;
  }
  .banner {
    width: 100%;
  }
  .right-side {
    padding-left: 0;
    margin-top: 30px;
  }
}
