.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: block;
  background-color: #ebf1f9;
  box-shadow: rgb(3 0 71 / 9%) 5px 5px 5px;

  /* #d5dee7 , #ebf1f9 */
}
.header .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .up .logo img {
  width: 70px;
}

.header .up .search {
  flex: 1;
  text-align: center;
}
.header .up .icons {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .up .icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .up .icons ul li {
  position: relative;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .up .icons ul li img {
  width: 27px;
}
.header .up .icons ul li span {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  background-color: #e94560;
  color: white;
}

.header .up .icons ul li h1 {
  display: inline-block;
}

.icon {
  font-size: 30px;
}
.icon:hover {
  color: white;
}
.small-screen {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  padding: 10px 30px;
  background-color: #ebf1f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 4px 3px;
  z-index: 999;
  display: none;
}
.bottom-icons ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.bottom-icons ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.bottom-icons ul li svg {
  display: block;
  font-size: 20px;
}
.bottom-icons ul li span {
  font-size: 13px;
  font-weight: 500;
  padding: 4px 0;
}

.bottom-icons ul li:hover span,
.bottom-icons ul li:hover svg {
  color: tomato;
}

/* Header Responsive Design  */
@media (max-width: 768px) {
  .header .up .icons {
    display: none;
  }
  .small-screen {
    display: block;
  }
}
