.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  display: block;
  background-color: #ebf1f9;
  box-shadow: rgb(3 0 71 / 9%) 5px 5px 5px;

  /* #d5dee7 , #ebf1f9 */
}
.header .up {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .up .logo {
}
.header .up .logo img {
  width: 70px;
}

.header .up .search {
  flex: 1;
  text-align: center;
  /* background-color: red; */
}
.header .up .icons {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .up .icons ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header .up .icons ul li {
  position: relative;
  padding: 2px 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header .up .icons ul li img {
  width: 27px;
}
.header .up .icons ul li span {
  background-color: green;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0px;
  right: 0px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;
  background-color: black;
  color: white;
}

.header .up .icons ul li h1 {
  display: inline-block;
}

.icon {
  font-size: 30px;
}
.icon:hover {
  color: white;
}
/* Header Responsive Design  */
