:root {
  --border-radius: 5px;
  --search-input-height: 35px;
}

.search {
  display: flex;
  justify-content: center;
}
.search-input {
  width: 70%;
  position: relative;
}
.search-result {
  position: absolute;
  width: 100%;
  top: 35px;
  left: 0px;
  padding: 10px 5px 20px 10px;
  border-radius: 0 0 15px 15px;
  background-color: #f6f9fc;
  text-align: start;

  max-height: 40vh;
  overflow: hidden;
  overflow-y: auto;
}

.search-result::-webkit-scrollbar {
  width: 0.2em;
}
.search-result li {
  padding: 5px 10px;
}
.search-result div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* background-color: red; */

  height: 60px;
}
.search-result a {
  padding: 5px 0;
  font-size: 15px;
  transition: all 0.3s ease;
  margin-left: 20px;
}
.search-result img {
  width: 50px;
  max-height: 100%;
}
.search-result a:hover {
  text-decoration: underline;
}

.input {
  border: none;
  width: 100%;
  height: var(--search-input-height);
  font-size: 17px;
  padding: 7px 10px;
  outline: none;
  border-radius: var(--border-radius) 0 0 var(--border-radius);
}
.input::placeholder {
  opacity: 0.8;
  font-size: 13px;
}

.input::-webkit-search-cancel-button {
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.button {
  border: none;
  background-color: black;
  color: white;
  height: var(--search-input-height);
  font-size: 14px;
  cursor: pointer;
  padding: 7px 15px;
  outline: none;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #5b5757;
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
    letter-spacing: 0.8px;
  }
}

@media (max-width: 400px) {
  .search-result {
    width: 70vw;
  }
  .search-result a {
    font-size: 13px;
  }
  .button {
    padding: 7px 10px;
  }
}
