body {
  /* background: linear-gradient(
      rgba(255, 255, 255, 1) 0%,
      rgba(251, 251, 251, 0.1) 100%
    ),
    linear-gradient(90deg, #84d2ff, #8d5acd) !important; */
}
.img-slider {
  width: 100px;
  height: 100px;
}

.swiper-button-next svg {
  font-size: 5px !important;
  width: 5px !important;
  height: 5px !important;
  color: red !important;
}
