/* Start Variables */
:root {
  --main-color: #fcb800;
  --hover-main-color: #f3cb5f;
}
/* End Variables */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
ul {
  list-style: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
    width: 90%;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
    width: 90%;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    /* width: 1170px; */
    width: 95%;
  }
}
/* End Golbal Rules  */
